<mat-card>
    <form (submit)="onAddArtist(artistForm)" #artistForm="ngForm">

        <mat-form-field>
            <label> Artist Name</label>
                <input
                matInput
                type="text"
                name="name"
                ngModel
                required
                #name="ngModel">
        </mat-form-field>
        <mat-form-field>
                <label> Genre </label>
                    <input
                    matInput
                    type="text"
                    name="genre"
                    ngModel
                    required
                    #content="ngModel">
            </mat-form-field>

        <mat-form-field>
            <label>Artist Image </label>
                <textarea
                matInput
                rows="4"
                name="image"
                ngModel
                required
                #content="ngModel">
                </textarea>
        </mat-form-field>
                

     


        <button
        mat-raised-button
        color="accent"
        type="submit">Save Artist</button>
    </form>
</mat-card>
    
